.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
android/key.properties
*.apk
*.aab
*.class
*.log
.flutter-plugins
.flutter-plugins-dependencies
.metadata
app.*.symbols
app.*.map.json
/ios/
/linux/
/macos/
/web/
/windows/
